body {
    background-color: rgb(192, 88, 157);
  }
  

  h1 {
    color: rgb(20, 5, 12);
    margin-left: 60px;
    font-size: 75px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  }
  h2 {
    color: rgb(255, 244, 251);
    margin-left: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 27px;
  }

h3 {
  color: rgb(131, 204, 175);
  margin-left: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

h4 {
  color: rgb(199, 233, 119);
  margin-left: 20px;
  font-family: cursive;
  font-size: 20px;
}

.orderedList {
    color: rgb(163, 194, 223);
    margin-left: 400px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
}

.timepoty {
    color: rgb(233, 162, 212);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.list {
    color: rgb(7, 16, 24);
    margin-left: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}